@import '@/assets/core.css';
@import '@/assets/animations.css';

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slideFromLeft {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideFromRight {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideFromTop {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideFromBottom {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes growFromZero {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes translateFromRight{
    0% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes fadeFromBlack {
  0% {
        box-shadow: inset 0 0 0 7000px rgba(0,0,0,1);
  }
  100% {
        box-shadow: inset 0 0 0 7000px rgba(0,0,0,0);
  }
}
@keyframes imgLoader {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.loading-shimmer {
    animation: imgLoader 1.33s ease-in-out infinite forwards;
    background: linear-gradient(-45deg, #ffffff, #5f5f5f);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.fadein {
    animation: fadein .5s linear;
}
.fade-grow-from-zero {
    position: relative;
    animation: growFromZero 1s ease, fadein 1s linear;
}
.slide-from-right {
    position: relative;
    animation: slideFromRight 1s ease, fadein 1s linear;
}
.slide-from-top {
    position: relative;
    animation: slideFromTop 1s ease, fadein 1s linear;
}

        // ::-webkit-scrollbar {
        //     height: 10px;
        //     width: 10px;
        //     background-color: black;
        // }
        // ::-webkit-scrollbar-track {
        //     background-color: black;
        // }
        // ::-webkit-scrollbar-track-piece {
        //     background-color: black;
        // }
        // ::-webkit-scrollbar-thumb:vertical {
        //     background-color: $primary-color-web;
        //     border-radius: 0px;
        // }    
        // ::-webkit-scrollbar-thumb:horizontal {
        //     background-color: var(--color-1-vibrant);
        //     border-radius: 0px;
        // }