:root {
    // user-select: none;
    line-height: 1.5;
    letter-spacing: .1px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --font-primary: "Jost";
    --font-accent: "Fira Code";

    /* sizes */

    --button-radius: .25rem;
    --button-thickness: 2px;
    --hamburger-size: 3rem;
    --section-padding: 1rem;
    --container-padding: 1rem;
    --container-width: 92rem;
    --logo-size: 3.5rem;

    /* calcs */

    --nav-height: calc(
        (var(--section-padding) / 2)
        + (var(--logo-size))
    );

    /* colors */

    --color-primary-text: #fff;

    --color-gray: #97979e;

    --color-1-light: rgb(152, 149, 193);
    --color-1-vibrant: #6a66a3;
    --color-1-deep: #54508b;

    --color-dark: #4f4d57;
    --color-darker: #323135;
    --color-darkest: #1d1d1e;
    
    --color-black: #161616;

    /* transitions */
    --selector-trans-time: .4s;
    
    --selector-transitions: 
        width var(--selector-trans-time) ease, 
        height var(--selector-trans-time) ease, 
        transform var(--selector-trans-time) ease,
        background-color var(--selector-trans-time) ease, 
        color var(--selector-trans-time) ease, 
        bottom var(--selector-trans-time) ease,
        opacity var(--selector-trans-time) ease, 
        font-size var(--selector-trans-time) ease, 
        grid-gap var(--selector-trans-time) ease,
        scale var(--selector-trans-time) ease
    ;

    --hover-grow-trans:
        scale .1s ease,
        filter .1s ease;

    --back-button-trans:
        transform .4s ease;

    --grad-complex-dark: 
        radial-gradient(ellipse at top right, var(--color-darker), transparent),
        radial-gradient(ellipse at top left, var(--color-black), transparent),
        radial-gradient(ellipse at bottom left, var(--color-darkest), transparent),
        radial-gradient(ellipse at bottom right, var(--color-dark), transparent);
        
    --grad-complex-vibrant: 
        radial-gradient(ellipse at top right, var(--color-1-light), transparent),
        radial-gradient(ellipse at top left, var(--color-1-deep), transparent),
        radial-gradient(ellipse at bottom left, var(--color-1-vibrant), transparent),
        radial-gradient(ellipse at bottom right, var(--color-1-deep), transparent);
    
}

.grad-complex-vibrant {
    background: var(--grad-complex-vibrant);
}
.grad-complex-dark {
    background: var(--grad-complex-dark);
}

.color-dark {
    color: var(--color-dark);
}
.color-darker {
    color: var(--color-darker);
}
.color-darkest {
    color: var(--color-darkest);
}
.bg-dark {
    background: var(--color-dark);
}
.bg-darker {
    background: var(--color-darker);
}
.bg-darkest {
    background: var(--color-darkest);
}
.bg-black {
    background: var(--color-black);
}

.color-1-light {
    color: var(--color-1-light);
}
.color-1-vibrant {
    color: var(--color-1-vibrant);
}
.color-1-deep {
    color: var(--color-1-deep);
}
.bg-1-light {
    background: var(--color-1-light);
}
.bg-1-vibrant {
    background: var(--color-1-vibrant);
}
.bg-1-deep {
    background: var(--color-1-deep);
}


.color-yellow {
    color: rgb(255, 255, 133);
}
.color-orange {
    color: rgb(255, 202, 103);
}
.color-blue {
    color: rgb(142, 196, 255);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    /* cursor: none !important; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-primary-text);
    font-family: var(--font-primary), sans-serif;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (hover:hover) {
        overscroll-behavior-y: none;
    }
}

html {
    font-size: 14px;
    @media (min-width: 640px) {
        // font-size: 15px;
    }
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (min-width: 1280px) {
        font-size: 18px;
    }
    @media (min-width: 1536px) {
        font-size: 20px;
    }
}
body {
    overflow-x: hidden;
}

::selection {
    background-color: rgba(152, 149, 193, .9);
}

section {
    position: relative;
    width: 100%;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-top: var(--nav-height);
}
.container {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}
.nav-spacer {
    margin-top: calc(
        var(--section-padding)
        + var(--logo-size)
    );
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.5rem;
}
p {
    margin-bottom: 1rem;
}
p:last-of-type {
    /* margin-bottom: 0; */
}
a {
    /* display: inline-flex; */
    display: inline-flex;
    /* cursor: none !important; */
    text-decoration: none;
}
img, video {
    display: block;
    width: 100%;
    height: auto;
}
svg {
    width: 100%;
    height: 100%;
    display: block;
}
button, input, textarea, select {
    /* cursor: none !important;  */
    font-family: inherit;
    color: inherit;
}
button {
    border: none;
    outline: none;
    border-radius: var(--button-radius);
    pointer-events: all;
    /* cursor: pointer; */
}
input {
    outline: none;
}
ul, ol {
    padding-inline-start: 2.7rem;
}
li {
    line-height: default;
}
code {
    font-family: var(--font-accent) !important;
}
canvas {
    display: block;
}
.font-primary {
    font-family: var(--font-primary), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}
.font-accent {
    font-family: var(--font-accent), sans-serif;
    font-optical-sizing: auto;
    font-style: normal;  
}
.text-shadow-1 {
    text-shadow: 1px 1px 0 #00000080;
}
.nowrap {
    white-space: nowrap;
}
.balance {
    text-wrap: balance;
}
.flex-centered {
    justify-content: center;
    align-items: center;
}
.loading-shimmer {
    position: relative;
    overflow: hidden;
    background: var(--ui-gray-1);
}
.loading-shimmer::after {
    content: '';
    position: absolute;
    animation: imgLoader 1.33s ease-in-out infinite forwards;
    background: linear-gradient(-45deg, #ffffff, #5f5f5f);
    background-size: 400% 400%;
    height: 100%;
    width: 100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
}